{% set cwi_base_class = cwi_base_class|default('cta-with-image') %}

<section {{ bem(cwi_base_class, (cwi_modifiers), cwi_blockname) }}>

  <div {{ bem('left', '', cwi_base_class) }}>
    <heading {{ bem('heading', '', cwi_base_class) }}>
      {{ title_prefix }}
      <h2 {{ bem('title', '', cwi_base_class) }}>{{ cwi_heading }}</h2>
      <div {{ bem('lead', '', cwi_base_class) }}>
        {% block cwi_lead %}
          {{ cwi_lead_text }}
        {% endblock %}
      </div>
      {{ title_suffix }}
    </heading>

    <div {{ bem('body', '', cwi_base_class) }}>
      {% block cwi_body %}
        <p>{{ cwi_body }}</p>
      {% endblock %}
    </div>

    {% embed "@atoms/01-links/link/link.twig" with {
      link_url: cwi_cta.url,
      link_blockname: cwi_base_class,
    } %}
      {% block link_content %}
        {{ cwi_cta.title }}
        {% include "@atoms/04-images/icons/_icon.twig" with {
          icon_name: 'long-arrow-right',
          icon_blockname: cwi_base_class,
        } %}
      {% endblock %}
    {% endembed %}
  </div>

  {% block cwi_image %}
    {% include "@atoms/04-images/00-image/responsive-image.twig" with {
      responsive_image_blockname: cwi_base_class,
      img_src: cwi_image.src,
      img_alt: cwi_image.alt,
      img_url: cwi_image.url
    } %}
  {% endblock %}

</section>
