{% set hhs_cms_base_class = hhs_cms_base_class|default('hhs-cms') %}

{% set hhs_logo = hhs_logo|default('/' ~ directory ~ '/images/Logo-HHS@3x.png') %}
{% set cms_logo = cms_logo|default('/' ~ directory ~ '/images/Logo-CMS@3x.png') %}
{% set cms_logo_link = cms_logo_link|default('https://www.cms.gov') %}
{% set hhs_logo_link = hhs_logo_link|default('https://www.hhs.gov') %}

<section {{ bem(hhs_cms_base_class, (hhs_cms_modifiers), hhs_cms_blockname) }}>

  <div {{ bem('logos', '', hhs_cms_base_class, ['js-extlink-allow']) }}>
    {% include "@atoms/04-images/00-image/figure.twig" with {
      img_src: hhs_logo,
      img_alt: 'Logo',
      img_url: hhs_logo_link,
      image_figure_base_class: 'logo',
      image_link_blockname: 'logo',
    } %}
    {% include "@atoms/04-images/00-image/figure.twig" with {
      img_src: cms_logo,
      img_alt: 'Logo',
      img_url: cms_logo_link,
      image_figure_base_class: 'logo',
      image_link_blockname: 'logo',
    } %}
  </div>

  <div {{ bem('body', '', hhs_cms_base_class) }}>
    {% block hhs_cms_body_content %}
      {% for item in hhs_cms_body %}
        <p>{{ item }}</p>
      {% endfor %}
    {% endblock %}
  </div>

  <ul {{ bem('social', '', hhs_cms_base_class) }}>

    {% if hhs_cms_facebook_url %}
      <li {{ bem('social-item', '', hhs_cms_base_class) }}>
        {% include "@atoms/04-images/icons/_social-icon.twig" with {
          icon_name: 'facebook-f',
          link_title: 'Follow on Facebook',
          link_url: hhs_cms_facebook_url,
        } %}
      </li>
    {% endif %}

    {% if hhs_cms_twitter_url %}
      <li {{ bem('social-item', '', hhs_cms_base_class) }}>
        {% include "@atoms/04-images/icons/_social-icon.twig" with {
          icon_name: 'twitter',
          link_title: 'Follow on Twitter',
          link_url: hhs_cms_twitter_url,
        } %}
      </li>
    {% endif %}

    {% if hhs_cms_linkedin_url %}
      <li {{ bem('social-item', '', hhs_cms_base_class) }}>
        {% include "@atoms/04-images/icons/_social-icon.twig" with {
          icon_name: 'linkedin-in',
          link_title: 'Follow on Linked In',
          link_url: hhs_cms_linkedin_url,
        } %}
      </li>
    {% endif %}
  </ul>

</section>
