<div class="sg-header-styles">

  <div class="sg-pattern pl-heading-examples">
    <h3 class="sg-pattern-title">h1.display</h3>
    <h1 class="h1 display">CMS Updates Website to Compare Hospital Quality</h1>
  </div>

  <div class="sg-pattern pl-heading-examples">
    <h3 class="sg-pattern-title">h1.title</h3>
    <h1 class="h1 title">CMS Updates Website to Compare Hospital Quality</h1>
  </div>

  {% for i in 1..6 %}
    <div class="sg-pattern pl-heading-examples">
      <h3 class="sg-pattern-title">h{{ i }}</h3>
      <h{{ i }} class="h{{ i }}">CMS Updates Website to Compare Hospital Quality</h{{ i }}>
    </div>
  {% endfor %}
</div>
{% if meta %}
  <p> <small>{{ meta.description }}</small> </p>
{% endif %}
